.match-simulation-container {
    padding: 40px 20px;
    max-width: 1500px;
    margin: 0 auto 10px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.match-simulation-fade-in {
    animation: fadeInSlideDown 0.5s ease-out both;
    opacity: 0;
}

@keyframes fadeInSlideDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.match-controls-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 5px;
}

.match-controls-left {
    flex: 2;
}

.match-controls-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.win-probabilities-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.subtitle {
    font-size: 25px;
    font-weight: 800;
    margin-top: 50px;
    text-align: center;
    color: var(--color-text-primary);
}

.lineups-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.lineup-chart {
    flex: 1;
    min-width: 500px;
}

.lineup-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--color-text-primary);
}
