.match-analysis-container {
    padding: 40px 20px;
    max-width: 1500px;
    margin: 0 auto 10px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@keyframes fadeInSlideDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.match-analysis-fade-in {
    animation: fadeInSlideDown 0.5s ease-out both;
    opacity: 0;
}

.match-analysis-title {
    font-size: 30px;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 20px;
}

.match-info-horizontal {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 10px auto;
    background-color: var(--color-grey-light);
    padding: 10px 20px;
    border-radius: 10px;
}

.team-name-horizontal {
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    width: 200px;
    color: #000;
}

.match-score-horizontal {
    font-size: 28px;
    font-weight: 900;
    color: var(--color-text-primary);
    margin: 0 10px;
    color: #000;
}

.tabs-type {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.tab-type {
    padding: 8px 20px;
    border-radius: var(--border-radius);
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: var(--color-background);
    color: var(--color-text-primary);
}

.tab-type-selected {
    background-color: var(--color-green);
    color: white;
}

.chart-carousel {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 1300px;
    min-height: auto;
    padding: 0 100px;
}

.chart-carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.chart-carousel button:first-child {
    left: 0;
}

.chart-carousel button:last-child {
    right: 0;
}

.chart-loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.spinner {
    border: 6px solid rgba(0, 0, 0, 0.1);
    border-top: 6px solid var(--color-green);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
