.recover-container {
    max-width: 500px;
    margin: auto;
    margin-top: 35px;
    padding: 20px;
    text-align: center;
    font-family: var(--font-family-base);
    animation: slideFade 0.4s ease-out;
}

@keyframes fadeInSlideDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.recover-title {
    font-size: 30px;
    font-weight: 1000;
    margin-bottom: 50px;
}

.recover-text {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-weight: 500;
    line-height: 1.4;
}

.recover-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
