:root {
    /* custom colors */
    --color-green: #24754d;
    --color-green-select: #799481;
    --color-blue: #007bff;
    --color-blue-link: #3998ff;
    --color-grey-light: #e5e3e3;
    --color-success: #008f39;
    --color-error: '#ff4d4f';
    --color-warning: '#faad14';
    --color-info: '#1890ff';
    --color-background: #ffffff;
  
    /* typography */
    --font-family-base: 'Inter', sans-serif;
    --font-family-base-footer: 'SourceSerif4', serif;
  
    /* font sizes */
    --font-size-base: 16px;
  
    /* common styles */
    --border-radius: 30px;
    --padding-base: 10px 20px;
  }
  